<!--
Author: Logan Young
Date: September 16th, 2025
Modification History-

Notes:
This is the front page for the library management user interface.
!-->

<!doctype html>


<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Library Management System</title>
		<link rel="stylesheet" type="text/css" href="css/Global.css">
		<link rel="stylesheet" type="text/css" href="css/HomePage.css">
	</head>

	<body>
		<header>
			<h1 id="LMS">Library Management System</h1>
			<div id="Subtitle">
				<h2>Home</h2>
				<a href="/logout" id="LogOut">Log Out</a>
			</div>
		</header>
		
		<div class="content">
			<div class="userView">
				<h3 class="viewHeading" id="UserViewHeading">User View</h3>
				<span id="Intro Text">
					<p id="WelcomeMessage">Welcome, <%= user.first_name %>!</p>
					<p id="AccountLevel">Acount Level: 
					<% switch(user.user_type_id) {
						case 1: %>
					MEMBER
					<% break;
						case 2: %>
					STAFF
					<% break;
						case 3: %>
					ADMINISTRATOR
					<% break;
						default: %>
					USER
					<% break; } %>
					</p>
					<p id="CheckedOut">Books Currently Checked Out: </p>
					<% userTitles.forEach(function(userTitle) { %>
					<span>
						<p> <%= userTitle.title %> </p>
					</span>
					<% }) %>
				</span>
				
				<div id="UserActions">
					<nav id="ActionSections">
						<ul id="ActionTabLinks">
							<li onclick="openActionTab(event, 'CheckOutTab')"><a href="#CheckOutTab">Check-Out</a></li>
							<li onclick="openActionTab(event, 'ReturnTab')"><a href="#ReturnTab">Return</a></li>
							<li onclick="openActionTab(event, 'SuggestTab')"><a href="#SuggestTab">Suggest</a></li>
						</ul>
					</nav>
					<div class="actionTab" id="CheckOutTab">
						<form class="actionForm" method="POST">
							<fieldset id="CheckOutField">
								<legend>Check Out</legend>
								<p>Select books to check out in Book View.</p>
								<input type="button" value="Check Out" id="CheckOutSubmit">
							</fieldset>
						</form>
					</div>
					<div class="actionTab" id="ReturnTab">
						<form class="actionForm" method="POST">
							<fieldset id="ReturnField">
								<legend>Return</legend>
								<p>Select books to return in Book View.</p>
								<input type="button" value="Return" id="ReturnSubmit">
							</fieldset>
						</form>
					</div>
					<!--<fieldset id="HoldField">
						<legend>Request Hold</legend>
						<p>Select a book to request a hold on in Book View.</p>
						<input type="button" value="Request Hold">
					</fieldset>
					<fieldset id="ProcurementRequest">
						<legend>Procure</legend>
						<p>Select a book to request procurement from another branch in Book View.</p>
						<input type="button" value="Request Procurement">
					</fieldset>-->
					<div class="actionTab" id="SuggestTab">
						<form class="actionForm" method="POST">
							<fieldset id="SuggestionField">
								<legend>Suggest Book</legend>
									<label for="authorIn"><span>Author Name:</span>
										<input type="text" name="Author" id="authorIn" placeholder="Author Name">
									</label>
									<label for="bookIn"><span>Book Title:</span>
										<input type="text" name="BookTitle" id="bookIn" placeholder="Book Title">
									</label>
									<input type="button" value="Suggest" id="SuggestSubmit">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			
			<!-- In the future, this will query the book table which will include
			links to the book covers as an attribute.-->
			<div class="bookView">
				<h3 class="viewHeading" id="BookViewHeading">Book View</h3>
				<nav id="BookSections">
					<ul id="NavTabs">
						<li onclick="openBookTab(event, 'LibraryBookGrid')"><a href="#AllBooks">All Books</a></li>
						
						<li onclick="openBookTab(event, 'YourBookGrid')"><a href="#YourBooks">Your Books</a></li>
					</ul>
				</nav>
				<div class="bookGrid" id="LibraryBookGrid">
					<% allTitles.forEach(function(title) { %>
					<div class="bookBackground">
						<span> <%= title.title %> </span>
					</div>
					<% }) %>
				</div>
				<div class="bookGrid" id="YourBookGrid">
					<% userTitles.forEach(function(userTitle) { %>
					<div class="bookBackground">
						<span> <%= userTitle.title %> </span>
					</div>
					<% }) %>
				</div>
			</div>
			
		</div>
		
		<footer>
			<p id="DateAccessed"></p>
			<p id="SiteInfo">Designed by Logan Young</p>
		</footer>
		
		<span id="UserJSON" hidden><%= user %></span>
		<span id="AllBooksJSON" hidden><%= allTitles %></span>
		<span id="UserBooksJSON" hidden><%= userTitles %></span>
		<script src="/js/HomePage.js"></script>
	</body>
</html>